extends layout

block content
  script(src="https://cdn.auth0.com/js/lock/10.7.2/lock.min.js")

  div(id="root" style="width: 280px; margin: 40px auto; padding: 10px;")

  script.
    var lock = new Auth0Lock('#{auth0.clientID}', '#{auth0.domain}', {
        auth: {
          redirectUrl: '#{auth0.callbackURL}',
          responseType: 'code',
          params: {
            scope: '#{auth0.scope}'
          }
        },
        closable: false,
        autofocus: true
      }
    );
    lock.show();
